body{
    margin: 0;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 30px 20px 0 20px;
}
.card{
    margin-bottom: 40px;
    display: flex;
}
.card .btn-del{
    margin-left: auto;
    cursor: pointer;
    border-radius: 20 px;
    height: 40px;
    padding: 0 20px;
    background-color: rgb(29, 155, 240);
    color: #ffff;
    text-transform: uppercase;
    border: none;
}
.name{
   color: #000;
   font-size: 19px;
   font-weight: 18px;
   margin-right: 20px;
}
.name span {
    display: block;
}
.mail{
    color: #696969;
    font-size: 16px;
    display: flex;
}
.mail span{
    position: relative;
    margin-top: 2px;
}
svg{
    color: rgb(29, 155, 240);
    fill: currentcolor;
    max-width: 20px;
    max-height: 20px;
    margin: 0 3px;
    flex: 0 0 21%;
}
.text-item{
    display: flex;
    align-items: flex-start;
}
.ava-block{
    height: 48px;
    width: 48px;
    border-radius: 100px;
    background-color: #cdcdcd;
    margin-right: 10px;
}
.description{
    max-width: 400px;
    font-size: 19px;
    font-style: italic;
    margin-top: 5px;
}
